body {
  position: relative;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.App {
  font-family: 'Indie Flower', cursive !important;
  font-weight: 600 !important;
}

.landingPage {
  width: 300px;
  margin: 100px auto;
}

thead {
  background-color: rgb(219, 202, 143);
}

td {
  border: 1px black solid;
}
/* .backImage {
  background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url("../src/antipasto-3484782_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  background-color: rgb(153,204,204) !important;
} */

.welcomeText {
  height: 200px;
  text-align: center;
  font-size: 3rem;
  color: gray;
  animation-name: welcome;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes welcome {
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 3rem;
  }}

.linkNoDecoration {
  color: white;
  cursor: pointer;
  text-decoration: none !important;
}

div.card-body {
  text-align: left !important;
  color: black !important;
  padding: 5px !important;
}

div.card-title {
  font-size: 2rem !important;
}

div.card-subtitle {
  font-size: 1rem !important;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: right;
}

.spinner {
  width: 50px !important;
  margin: auto !important;
}

.landButton {
  width: 89px;
  margin: 0.5rem 0;
}

.recipeButton {
  width: 120px;
  margin: 0 !important;
}

.filterButton {
  margin-bottom: 2px;
}

.filterFields {
  background-color: rgb(216, 216, 241) !important;
}

span {
  color: black;
  margin-left: 10px;
}

a.nav-link {
  font-size: 0.8rem;
    line-height: 1;
}

.navbar {
  color: black !important;
  background-color: white;
  position: sticky !important;
  top: 0;
  z-index: 20;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.pictureSmall {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

.jumbotron {
  padding: 0.5rem !important;
  margin-bottom: 0 !important;
  margin-top: -3px !important;
}
/* .container {
  background-color: rgb(216, 216, 241);
  margin: 0;
  padding: 5px !important;
} */

.filters {
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(216, 216, 241);
  z-index: 20;
  position: sticky;
  top: 61px;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

table {
  margin-bottom: 0 !important;
}
.underline {
  border-bottom: .05rem black solid;
  margin-bottom: 0 !important;
  padding-bottom: .4rem;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.error {
  color: red;
  padding: 22px;
  text-align: center;
  animation-name: tada;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.btnFullWidth {
  width: 100%;
}

.editPen {
  color: green;
}

.deletePen {
  color: red;
  font-size: 1.5rem;
}

.deleteSvg {
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  background-color: red;
}

.card-title {
  white-space: normal;
  line-height: 2rem;
}

.card-header {
  margin: 12px 20px !important;
  padding: 0 !important;
}

h2, h3 {
  text-align: center;
}

.ql-editor,
.ql-blank {
  font-size: 1rem;
}
