body {
  position: relative;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* ===[ Begin Chunky Button ]=== */

input,
select {
  font-family: Arial, Helvetica, sans-serif !important;
}

.chunky {
  /* Normal State */
  padding: 4px 15px 7px 15px;
  width: auto;
  height: 35px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.50);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.50);
  border-top: 1px solid rgba(0,0,0,0.001);
  box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
  cursor: pointer;
}

.chunky:hover {
  /* Hover State */
  box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
  animation: glow 1s infinite ease-in-out;
  cursor: pointer;
}

.chunky:active {
  /* Active State (clicked on) */
  padding: 6px 15px 5px 15px;
  border-top: 1px solid rgba(0,0,0,0.55);
  box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
  animation: none;
  cursor: pointer !important;
}

/* ===[ Start Glow Animation ]=== */

@keyframes glow { 
  0% {
      box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
      -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
      -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
  }

  100% {
      box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
      -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
      -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
  }
}
/* ===[ End Glow Animation ]=== */

.chunkyGreen {
  background-color: #669900;
}
.chunkyYellow {
  background-color: #FF9900;
}
.chunkyGrey {
  background-color: #b2b2b2;
}
.chunkyViolet {
  background-color: #663399;
}
.chunkyBlue {
  background-color: #285b9e;
}
.chunkyW101 {
  width: 101px;
}
.chunkyW107 {
  width: 107px;
  margin-top: 10px;
}
.chunkyW120 {
  width: 120px;
}
.chunkyW133 {
  width: 133px;
}
.chunkyM25 {
  margin-right: 25px;
  margin-left: 25px;
}

.button{
	/*[ Position ]*/
	margin:0;
	left: 0;
	top: 0;
	/* [ Botton ] */
	position:relative;
	height:30px;
	width:30px;
	cursor:pointer;
	line-height:47px;
	background-color:#f1f1f1;
	text-align:center;
	font-size:30px;
	display:inline-block;
	text-shadow:0px -1px 1px rgba(255,255,255,0.5);
	color:#444;
	/* Transitions */
	-moz-transition:.1s ease-out;
	-webkit-transition:.1s ease-out;
	-o-transition:.1s ease-out;
	-ms-transition:.1s ease-out;
	-khtml-transition:.1s ease-out;
	transition:.1s ease-out;
	/* Shadows */
	box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	-ms-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	-khtml-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);
	/* Borders */
	border-width:1px;
	border-style:solid;
	border-left-color:#777;
	border-right-color:#777;
	border-top-color:#999;
	border-bottom:4px solid #555;
	/* {{ No selectable }} */
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	/*[{- Border radius -}]*/
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-ms-border-radius:50px;
	-khtml-border-radius:50px;
	-o-border-radius:50px;
	/* Gradient */
	background-image:-moz-linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
	background-image:-webkit-linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
	background-image:-o-linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
	background-image:-khtml-linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
	background-image:-ms-linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
	background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,0.2));
}
.button:hover{
	color:#333;
	/*{Gradient}*/
	background-image:-moz-linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
	background-image:-webkit-linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
	background-image:-ms-linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
	background-image:-khtml-linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
	background-image:-o-linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
	background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,0.17));
}
.button:active{
	margin-top:0;
	color:#777;
	border:1px solid #999;
	/*{Shadow}*/
	box-shadow:inset 0 0 5px 0 #333;
	-moz-box-shadow:inset 0 0 5px 0 #333;
	-webkit-box-shadow:inset 0 1px 2px 0 #333, 0 1px 1px 0 #fff;
}
.text-shadow-negra{
	text-shadow:-1px -1px 0 rgba(0,0,0,0.2);
}
.text-blanco{
	color:#F2F2F2;
}
.text-blanco:hover{
	color:#DDD;
}
.text-blanco:active{
	color:#DDC;
}
.blue{
	background-color:#659AE0;
	border-bottom-color:#436796;
	border-left-color:#5981AF;
	border-right-color:#5981AF;
	border-top-color:#719CCE;
}
.red{
	background-color:#C46A6A;
	border-bottom-color:#A05D5D;
	border-left-color:#AF5757;
	border-right-color:#AF5757;
	border-top-color:#C66767;
}
.redStrong{
	background-color:#FF0A0A;
	border-bottom-color:#CC0D0D;
	border-left-color:#FF0707;
	border-right-color:#FF0707;
	border-top-color:#FF6666;
}
.green{
	background-color:#82C43A;
	border-color:#578720;
}
.yellow{
	background-color:#EFEC40;
	border-color:#9B9800;
}
.brown{
	background-color:#594343;
	border-bottom-color:#423F1B;
	border-right-color:#3F3D28;
	border-left-color:#3F3D28;
	border-top-color:#7C6262;
}
.black{
	background-color:#555;
	border-bottom-color:#444;
	border-left-color:#666;
	border-right-color:#666;
	border-top-color:#777;
}
.orange{
	background-color:#FAA407;
	border-bottom-color:#BA7500;
	border-left-color:#DB8A00;
	border-right-color:#DB8A00;
	border-top-color:#E89200;
}

/* #Pumpkin Flat Button
==================================================*/
.pumpkin-flat-button {
  position: relative;
  vertical-align: top;
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin: 5px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #d35400;
  border: 0;
  border-bottom: 2px solid #c54e00;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #c54e00;
  box-shadow: inset 0 -2px #c54e00;
  border-radius: 15px;
}
.pumpkin-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pumpkin-flat-button:hover {
  color: white;
}

.flexNavbar {
  position: fixed;
  top: 0;
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  z-index: 50;
  background-color: rgba(223, 215, 215, .8);
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

svg.menuSvg {
  font-size: 40px !important;
  padding: 10px 0 0 0 !important;
}

svg.homeSvg {
  font-size: 2.5rem !important;
  margin-top: 3px !important;
  padding: 0 !important;
}

svg.shareSvg {
  font-size: 40px !important;
  padding: 10px 0 0 0 !important;
}
svg.addSvg {
  font-size: 3rem !important;
}

div.dropdown-menu.show {
  padding-bottom: 0;
  box-shadow: 7px 9px 26px 3px rgba(0, 0, 0, 0.75);
}

.languageMenu {
  padding: 10px 0 !important;
}
.filterMenu {
  padding: 5px 5px 0 5px !important;
  margin: 0 !important;
  width: 166px;
}

.menuText {
  font-size: 1rem !important;
  line-height: 0;
}

.menu-left {
  transform: translate3d(-120px, 40px, 0px) !important;
}

.preparationField>p,
.preparationField>ul {
  margin: 0;
}

.App {
  font-family: 'Indie Flower', cursive !important;
  font-weight: 400 !important;
}

.logIn {
  width: 300px;
  margin: 100px auto;
}

thead {
  background-color: rgb(219, 202, 143);
}

td {
  border: 0px black solid !important;
  width: 70%;
  /* background-color: white; */
} 

.tdBackgroundDragging {
  background-color: rgba(195, 246, 179, .5) !important;
}
.tdBackground {
  background-color: white;
}

.welcomeText {
  height: 200px;
  text-align: center;
  font-size: 3rem;
  color: gray;
  animation-name: welcome;
  animation-duration: 2000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes welcome {
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 3rem;
  }}
  
.linkNoDecoration {
  color: white;
  cursor: pointer;
  text-decoration: none !important;
}

div.card-body {
  text-align: left !important;
  color: black !important;
  padding: 5px !important;
}

div.card-title {
  font-size: 2rem !important;
}

div.card-subtitle {
  font-size: 1rem !important;
}

div.carousel-item > img {
  border-radius: 5px !important;
  border: 1px grey solid;
}

#carouselWithIndicators {
  max-width: 500px !important;
  margin: auto !important;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: right;
}

.spinner {
  width: 50px !important;
  margin: auto !important;
}

.landButton {
  width: 89px;
  margin: 0.5rem 0;
}

.recipeButton {
  width: 120px;
  margin: 0 !important;
  border: 0 !important;
}
div.dropdown svg.filterButton {
font-size: 1.5rem !important;
}
svg.filterButton {
text-align: start !important;
border: 0;
padding: 0;
z-index: 100;
}
.filterButton {
  margin: 0 50px 0 50px !important;
  padding: 0;
}
.blueFilter {
  color: rgb(49, 134, 245);
}
.redFilter {
  color: rgb(245, 49, 49);
}

.bottomMenu {
  background-color: rgba(216, 216, 241, .8) !important;
  position: absolute;
  border-radius: 5px;
  border: 1px solid  rgb(117, 117, 130) !important;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}
.filterFields {
  transform: translate3d(26px, -267px, 0);
  width: 189px;
}
.sortFields {
  transform: translate3d(-105px, -188px, 0);
  width: 162px;
}
.sortFields > p:hover {
  cursor: pointer;
}

span {
  color: black;
  margin-left: 10px;
}

a.nav-link {
  font-size: 0.8rem;
    line-height: 1;
}

.navbar {
  color: black !important;
  background-color: white;
  position: sticky !important;
  top: 0;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.headBar {
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    height: 35px;
    width:100%;
    justify-content: center;
    padding: 5px;
    margin: 0;
    z-index: 40;
    background-color: rgba(177, 210, 248, 0.8);
    -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.pictureSmall {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

.jumbotron {
  padding: 0.5rem !important;
  margin-top: 45px !important;
  margin-bottom: 0 !important;
  overflow: hidden;
}
.jumboTop {
  margin-top: 38px !important;
}
.jumboBottom {
  margin-bottom: 38px !important;
}

table {
  margin-bottom: 0 !important;
}
.underline {
  border-bottom: .05rem black solid;
  margin-bottom: 0 !important;
  padding-bottom: .4rem;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.error {
  color: red;
  padding: 22px;
  text-align: center;
  animation-name: tada;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.btnFullWidth {
  width: 100%;
}

.deleteSvg {
  font-size: 1.5rem;
  vertical-align: text-top;
}
.editSvg {
  font-size: 1rem;
  vertical-align: text-top;
  margin: 3px;
}
.likeSvg {
  font-size: 1.3rem;
  vertical-align: text-top;
}
.favSvg {
  font-size: 1.5rem;
  vertical-align: text-top;
  transform: translateY(1px);
}
svg.sortingSvg {
   font-size: 20px !important;
}
.whiteText {
  color: white !important;
}
.blackText {
  color: rgb(107, 105, 105) !important;
}
.redText {
  color: red !important;
}
.centerText {
  text-align: center;
}

.deleteSvgBack {
  font-size: 1.5rem;
  color: white;
  background-color: red;
  border-radius: 50%;
  vertical-align: baseline;
  margin: 0px !important;
}

.ingredientDel {
 width: 20px;
 height: 20px;
 padding: 0;
 margin: 6px 0 0 6px;
 border-top-color: #C66767 !important;
}

.card-title {
  white-space: normal;
  line-height: 2rem;
}

.card-header {
  margin: 12px 20px !important;
  padding: 0 !important;
}

.cardButton { 
  margin-top: 5px !important; 
  width: 115px;
 }

.noPadding {
  padding: 0 !important;
}

.flexButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2, h3 {
  text-align: center;
}

.ql-editor,
.ql-blank {
  font-size: 1rem;
  background-color: white !important;
  border-radius: 2px !important;
}

.textCaption {
  font-size: 2rem;
  color: #FFFFFF;
  background: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
  background: transparent;
}

.footbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 45px;
  width:100%;
  justify-content: center;
  padding: 5px;
  margin: 0;
  z-index: 50;
  background-color: rgba(223, 215, 215, .8);
  -webkit-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 14px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.addButton {
  margin: 5px !important;
  bottom: 0 !important;
  right: 0 !important;
}
